* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

:root{
  --black: rgba(0, 0, 0, 0.7);
  --white: #ffffff;
  --white-text: rgba(255, 255, 255, 0.5);
  --grey: #414141;
  --blue:#3367d6;
  --blueReact: #61DBFB;
}

/* imagen de fondo */
body{
  background-image: url("https://images.unsplash.com/photo-1537884944318-390069bb8665?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGNvZGV8ZW58MHx8MHx8&w=1000&q=80");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: -999;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h2{
  font-family: 'Merriweather', serif;
  color: var(--blue)
}
/* HEADER */
header{
  z-index: 999;
}

/* imagen del navbar */
#code{
  font-size: 1.5rem;
  color: black;
}
#code:hover{
  text-shadow: 1px 1px 10px var(--white);
}

/* navbar */
.navbar__header a{
  color: var(--grey) !important;
}

.navbar__header a:hover{
  color: var(--white) !important;
  transform: scale(1.1) !important;
  transition: all 0.2s ease !important;
  text-shadow: 1px 1px 10px !important;
}

/* opción seleccionada en el narvbar */
.navbar__header a .selected{
  color: var(--white) !important;
}

/* FOOTER */
footer{
  height: 30vh;
  background-color: var(--black);
}

.footer_icons{
  color: var(--white);
  font-size: 4rem;
}

footer section span{
  color: var(--white);
}

footer section:hover > a .footer_icons{
  transform: scale(1.2);
  transition: all .3s ease;
  text-shadow: 1px 1px 10px;
}

/* MAIN */
/* home */
.secciones{
  height: 100vh;
  width: 100vw;
  background-color: var(--black);
}

main #img__home{
  border-radius: 50%;
}

main #home__presentation #home__name{
  color: var(--blue);
  font-size: 4rem;
  font-family: 'Merriweather', serif;
}

main #home__presentation #home__desc{
  color: var(--blueReact);
  font-size: 2rem;
  font-family: 'Merriweather', serif;
}


/* about */
main #about{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: 
  "title title"
  "subtitle__about subtitle__skills"
  "content__about content__skills"
  ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 15% auto;
}

main .title{
  grid-area: title;
  justify-self: center;
  align-self: center;
}

main .subtitle__about{
  grid-area: subtitle__about;
  justify-self: center;
  align-self: center;
}

main .subtitle__skills{
  grid-area: subtitle__skills;
  justify-self: center;
  align-self: center;
}

main .content__about{
  grid-area: content__about;
  width: 50%;
  justify-self: center;
}

main .content__skills{
  grid-area: content__skills;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

main .content__skills section{
  height: 50%;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .content__skills section i{
  color: var(--white);
  text-shadow: 1px 1px 5px;
  font-size: 5rem;
}

main .subtitle__about, main .subtitle__skills{
  color: var(--blueReact);
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  text-align: center;
}

main .content__about p, main .content__skills span{
  color: var(--white-text);
  font-size: 1.1rem;
}