* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

:root{
  --black: rgba(0, 0, 0, 0.7);
  --white: #ffffff;
  --white-text: rgba(255, 255, 255, 0.5);
  --grey: #414141;
  --blue:#3367d6;
  --blueReact: #61DBFB;
}

/* imagen de fondo */
body{
  background-image: url("https://images.unsplash.com/photo-1537884944318-390069bb8665?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGNvZGV8ZW58MHx8MHx8&w=1000&q=80");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: -999;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h2{
  font-family: 'Merriweather', serif;
  color: var(--blue)
}

#fullScreenbtn{
  color: #fff;
  position: fixed;
  z-index: 999;
  right: 12px;
  top: 8px;
}

body::-webkit-scrollbar{
  background-color: black;
}
body::-webkit-scrollbar-thumb{
  background-color: rgba(128, 128, 128, 0.10);
  border-radius: 10px;
}

/* HEADER */
header{
  z-index: 998;
}

/* imagen del navbar */
#code{
  font-size: 1.5rem;
  color: black;
}
#code:hover{
  text-shadow: 1px 1px 10px var(--white);
}

/* navbar */
.navbar__header a{
  color: var(--grey) !important;
}

.navbar__header a:hover{
  color: var(--white) !important;
  transform: scale(1.1) !important;
  transition: all 0.2s ease !important;
  text-shadow: 1px 1px 10px !important;
}

/* opción seleccionada en el narvbar */
.navbar__header a .selected{
  color: var(--white) !important;
}

/* FOOTER */
footer{
  background-color: var(--black);
  padding-bottom: 10px;
}

.footer_icons{
  color: var(--white);
  font-size: 4rem;
}

footer section span{
  color: var(--white);
}

footer section:hover > a .footer_icons{
  transform: scale(1.2);
  transition: all .3s ease;
  text-shadow: 1px 1px 10px;
}

/* MAIN */
/* home */
.secciones{
  min-height: 100vh;
  width: 100vw;
  background-color: var(--black);
}

main #img__home{
  border-radius: 50%;
}

main #home__presentation #home__name{
  color: var(--blue);
  font-size: 4rem;
  font-family: 'Merriweather', serif;
}

main #home__presentation #home__desc{
  color: var(--blueReact);
  font-size: 2rem;
  font-family: 'Merriweather', serif;
}


/* about */
main #about{
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: 
  "title title"
  "subtitle__about subtitle__skills"
  "content__about content__skills"
  ;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 15% minmax(15%, 20%) auto;
}

main #about .title{
  grid-area: title;
  justify-self: center;
  align-self: center;
}

main #about .subtitle__about{
  grid-area: subtitle__about;
  justify-self: center;
  align-self: center;
}

main #about .subtitle__skills{
  grid-area: subtitle__skills;
  justify-self: center;
  align-self: center;
}

main #about .content__about{
  grid-area: content__about;
  width: 50%;
  justify-self: center;
}

main #about .content__skills{
  grid-area: content__skills;
  display: flex;
  flex-wrap: wrap;
}

main #about .content__skills section{
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main #about .content__skills section i{
  color: var(--white);
  text-shadow: 1px 1px 5px;
  font-size: 5rem;
}

main #about .subtitle__about, main .subtitle__skills{
  color: var(--blueReact);
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  text-align: center;
}

main .content__about p, main .content__skills span{
  color: var(--white-text);
  font-size: 1.1rem;
}

/* projects */
main #projects{
  background-color: var(--black);
}

main #projects #examples__container{
  flex: 1;
}

main #projects #examples__container .examples{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #projects #examples__container .examples figure{
  width: 70%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

main #projects #examples__container .examples img{
  width: 100%;
}

main #projects #examples__container .examples .information__shadow{
  position: absolute;
  transform: translateY(100%);
  height: 100%;
  width: 100%;
  background-color: var(--black);
  transition: all .5s ease ;
  padding: 10px;
}

main #projects #examples__container .examples figure:hover>.information__shadow{
  transform: translateY(-100%);
  overflow-y: auto;
}

main #projects #examples__container .examples figure:hover img{
  transition: all .9s ease;
  transform: scale(1.2);
}

main #projects #examples__container .examples figure:not(:hover) img{
  transition: all .9s ease;
}

main #projects #examples__container .examples h3{
  color: var(--white);
}
main #projects #examples__container .examples span{
  color: var(--white);
}
#menu li .style_menu__list{
  color: var(--blueReact) !important;
  text-shadow: 1px 1px 5px;
}
/* Queries */
@media screen and (max-width: 1450px) {
  main #projects #examples__container .examples figure{
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  main #projects{
    height: auto;
  }

  main #projects #examples__container .examples{
    width: 90%;
    margin: auto;
  }
  
  main #projects #examples__container .examples figure{
    width: 100%;
  }
}
@media screen and (max-width: 700px) {

  main #home__presentation #home__name{
    font-size: 3rem;
  }
  
  main #home__presentation #home__desc{
    font-size: 1.5rem;
  }

  main #about{
    height: auto;
    grid-template-areas: 
    "title"
    "subtitle__about"
    "content__about"
    "subtitle__skills"
    "content__skills"
    ;
    grid-template-columns: 1fr;
  }

  main #about h2{
    font-size: 2rem;
  }

  main #about .content__about, a{
    width: 90%;
    justify-self: center;
    margin: 10px auto;
  }

  main #projects h2{
    margin-top: 3rem;
    font-size: 2rem;
  }

  /* estilos navbar */
  #style__menu{
    background-color: var(--black);
    border-radius: 10px;
  }

  #menu li a{
    color: var(--white)!important;
  }
}